extends layout

block content
  each caretaker of caretakers
    h1 #{caretaker.name}
    p Animals in care: 
        each animal in caretaker.animals
          span #{animal.name}
    p Posts (#{caretaker.posts.length}):
      ul 
        each post in caretaker.posts
          li #{post.title}