body {
  font-family: sans-serif;
}

a {
  padding: 0 0.5em;
}

input,
button,
a,
select {
  &:focus {
    outline: 3px solid lightseagreen;
    outline-offset: 0.25em;
  }
}

.skip-link {
  position: absolute;
  z-index: 99;
  background-color: white;

  &:not(:focus) {
    width: 1px;
    height: auto;
    margin: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
    white-space: nowrap;
  }
}
