extends layout

block content
  h1 #{user.name}
  p Animals in care: 
      each animal in user.animals
        span #{animal.name}
  p Posts (#{user.posts.length}):
    ul 
      each post in user.posts
        li #{post.title}